.card-container{
  border: 1px solid black;
  width: 300px;
}

.card-container-selected{
  border: 3px solid green;
  width: 300px;
}

.title{
  background-color: #dedede;
  margin: 0;
  padding: 10px;
}